# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Junk Files
.vscode/.browse.VC.*
*.pb.cc
*.pb.h

# CMAKE BUILD
build/*

# Executables
*.exe
*.out
*.app
build/
build/*
doc/html/*
doc/latex/*
cmake-build-debug/*
.idea/*
.idea/
